.Todo {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 50%;
}

.Done {
    background: #5affac;
    transition: 0.4s ease-in;
    width: 50%;
}

.TodoList {
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    width: 50%;
}